.column-header, .row-header {
    -fx-background-color: #eee;
}

.column-header-line, .row-header-line {
    -fx-stroke: #666;
}

.column-header:selected, .row-header:selected {
    -fx-background-color: #666;
    -fx-text-fill: white;
}

.column-section, .row-section {
    -fx-text-fill: #666666;
}

.cell {
    -fx-border-color: lightgrey;
}

.cell:focused {
    -fx-border-width: 0 0 0 0;
}

/*noinspection CssInvalidPseudoSelector*/
.cell:edit {
    -fx-background-color: dodgerblue;
    -fx-text-fill: white;
}

